name: ci-build

on:
  push:
    branches: main

  pull_request:
    branches: main

jobs:
  build:
    runs-on: windows-2022

    strategy:
      matrix:
        architecture: [x86, x64, ARM64]

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.4

    - name: Clone Dependent Repo
      run: |
        git clone https://github.com/w-ahmad/WinUI.TableView.git ../WinUI.TableView

    - name: Checkout
      uses: actions/checkout@v4.1.4

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: |
        msbuild /restore src/WinUI.TableView.SampleApp.csproj /p:Configuration=Release /p:Platform=${{ matrix.architecture }}
